h1 {
    position: relative;
    left: 50px;
    font-family:sans-serif;
    margin-top: 150px;
}

.firstline {
    position: relative;
    border: 1px solid black;


    margin: 20px;
    font-family: monospace;
}

#ffirst {
    top: 30px;
    padding: 20px;
    width: 350px;
    height: 350px;
    text-align: right;
}
#fsecond {
    top: -382px;
    left: 450px;
    width: 270px;
    height: 130px;
    letter-spacing: 2px;
    padding: 240px 20px 20px 100px;
    text-align: right;

}
#fthird {
    top:-794px;
    left: 900px;
    font-size: 20px;
    padding: 20px;
    width: 350px;
    height: 350px;
}

.secondline {
    position: relative;
    border: 1px solid black;
    
    font-family: monospace;
}

#sfirst {
    width: 350px;
    height: 350px;
    padding: 20px;
    margin: 20px;
    top: -750px;

}

#ssecond {
    width: 150px;
    height: 100px;
    padding: 145px 120px;
    margin: 20px;
    top: -1162px;
    left: 450px;
    font-size: 11pt;
    line-height: 20px;
}

#sthird {
    width: 270px;
    height: 350px;
    padding: 20px 20px 20px 100px;
    margin: 20px;
    top: -1574px;
    left: 900px;
}
        
.thirdline {
    position: relative;
    border: 1px solid black;
    
    margin: 20px;
}      

#tfirst {
    top: -1520px;
    width: 270px;
    height: 210px;
    padding: 160px 20px 20px 100px;
    font-style: italic;
    font-size: 11pt;
    letter-spacing: 2px;
    font-family: monospace;
    
        
    }

#tsecond {
    top: -1932px;
    left: 450px;
    width: 220px;
    height: 40px;
    padding: 330px 130px 20px 40px;
    font-family: monospace;
}

#tthird {
    top: -2344px;
    left: 900px;
    width: 350px;
    height: 350px;
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;

    
}

#movement {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10pt;


}
#alignright {
    text-align: right;
}